html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section{
  display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.headerWrapper{
  transition: all 0.3s ease 0s;

    top: 0px;
    width: 100%;
    z-index: 1100;
    position: fixed;
    min-height: 56px;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
}

.header {
    width: 100%;
    height: 56px;
    margin: 0 auto;
    display: flex;
    padding: 0px 64px;
    max-width: 1216px;
    align-items: center;
    justify-content: space-between;
}

.svgRoot-link {
    height: 22px;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    font-size: 150px;
    height: auto;
}

svg:not(:root) {
    overflow: hidden;
}


.sectionWrapper {
    margin-top: 56px;
}

.section-search {
    position: relative;
    background-color: rgb(248, 247, 252);
}

.article-search{
      margin: 0px auto;
    padding: 40px 64px !important;
    max-width: 1216px;
}


.article-search-div1 {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
}


.h1 {
    color: rgb(66, 66, 66);
    text-align: center;
}

.h2{
      color: rgb(66, 66, 66);
    text-align: center;
}

.article-search .box{
    display: flex;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 2px, rgb(0 0 0 / 10%) 0px 1px 2px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 4px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 771px;
    margin: 16px auto 0px;
    padding: 32px 50px;
}
/*CSS: BREADCRUMB*/
.MuiTypography-root {
    margin: 0;
    display: block;
}
.MuiTypography-body1 {
    font-size: 16px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.MuiTypography-colorTextSecondary {
    color: rgba(0, 0, 0, 0.54);
}
.MuiBreadcrumbs-ol {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.MuiBreadcrumbs-li {
    display: list-item;
    text-align: -webkit-match-parent;
    text-decoration: none;
    
}

.breadcrumb-inicio {
    color: rgb(117, 117, 117);
    height: 26px;
    display: flex;
    font-size: 12px;
    align-items: center;
    font-weight: 400;
    line-height: 17px;
}

.MuiBreadcrumbs-separator {
    display: flex;
    margin-left: 8px;
    user-select: none;
    margin-right: 8px;
    font-size: 11px;
}

.breadcrumb-links {
    color: rgb(68, 67, 188);
    height: 26px;
    display: flex;
    font-size: 12px;
    align-items: center;
    font-weight: 400;
    line-height: 17px;
}

/*CSS: BREADCRUMB*/

.article-search .box .h2{
  color: rgb(68, 67, 188);
    display: block;
    font-size: 16px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.article-search .box .tipoVeiculo{
  display: flex;
    justify-content: space-between;
    width: 290px;
    margin: 16px auto 24px;
    max-width: none;
}

.article-search .box .button {
    border: 1px solid rgb(68, 67, 188);
    height: 32px;
    font-size: 16px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 22px;
}

.article-search .box .dropboxes {
    width: 100%;
    display: grid;
    gap: 16px 20px;
    grid-template-rows: 48px;
    grid-template-columns: 1fr 1fr 1fr;
}

.article-search .box .consultarPrecos {
   width: 170px;
    margin-top: 24px;
}

/*INICIO: dropboxes*/

.form-control{
  display: block;
    width: 100%;  
    line-height: normal;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    height: unset;
    padding: 16px 25px 16px 13px;
    color: #676767;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-y: center;
    background-position-x: calc(100% - 8px);
    border: 1px solid rgb(68, 67, 188);
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select.form-control:not([size]):not([multiple]) {
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    height: unset;
    padding: 16px 25px 16px 13px;
    color: #676767;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/arrowdown.png) no-repeat #fff;
    background-position-y: center;
    background-position-x: calc(100% - 8px);
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
}

select {
      animation: .2s linear both fadeIn;
  text-transform: none;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}
/*FIM: dropboxes*/


/*EFEITOS COM OS BOTÕES DO TIPO VEÍCULO*/
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.MuiChip-label {
    overflow: hidden;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    text-overflow: ellipsis;
}

.MuiChip-clickable {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiChip-colorSecondary {
    color: #e9eaf9!important;
    background-color: #4443BC!important;
}

.MuiChip-outlinedSecondary {
    color: #4443BC!important;
    border: 1px solid #4443BC!important;  
}

.MuiChip-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    background-color: transparent;
}

.MuiChip-root {
    color: rgba(0, 0, 0, 0.87);
    border: none;
    cursor: default;
    height: 32px;
    display: inline-flex;
    outline: 0;
    padding: 0;
    font-size: 0.8125rem;
    box-sizing: border-box;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    white-space: nowrap;
    border-radius: 16px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: #e0e0e0;
}


.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 4px;
    display: inline-flex;
    outline: 0;
    padding: 4px;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
/*EFEITOS COM OS BOTÕES DO TIPO VEÍCULO*/


/* INICIO: EFEITO COM O BOTÃO CONSULTAR PREÇOS*/
.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}

.MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

.MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
}

.jss291 {
    color: #FFFFFF;
    background-color: #4443BC;
    height: 40px;
    line-height: 28px;
}

.MuiButton-fullWidth {
    width: 100%;
}

.MuiButton-root {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 14px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 24px;
    border-radius: 4px;
    text-transform: uppercase;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

button:disabled {
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}

.MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

.MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
}

.jss291 {
    color: #FFFFFF;
    background-color: #4443BC;

}

.jss290 {
    box-shadow: none;
    text-transform: none;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}


/* FIM: EFEITO COM O BOTÃO CONSULTAR PREÇOS*/




.consulte-tambem{
  display: flex;
  width: 771px;
    margin: 8px auto 0px;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
}

.consulte-tambem .por{
  line-height: 22px;
    margin-right: 4px;
}

.consulte-tambem .links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 500;
}

.consulte-tambem .links .espacos{
    margin-right: 2px;
}

.consulte-tambem .links .link{
  color: #009A8A
}


/*section marcas*/
.section-marcas{
    position: static;
    background-color: rgb(255, 255, 255);
}

.section-marcas article{
    margin: 0px auto;
    padding: 16px;
    max-width: 1216px;
}

.section-marcas h2{
    color: rgb(66, 66, 66);
    text-align: center;
     font-size: 16px;
    margin-top: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
}

.section-marcas .busca {
    top: 0px;
    padding: 8px 0px;
    z-index: 1100;
    box-shadow: initial;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}


.section-marcas .busca input{
    color: #424242;
    border: 1px solid #E0E0E0;
    overflow: hidden;
    border-radius: 4px;
    background-color: #FFFFFF;
    width: 90%!important;
}

.lista-marcas{
    position: relative;
    width: 100%;
    height: 100%;

}

.lista-marcas > div {
    width: 100% !important;
    height: 100% !important;
    overflow: visible; 
    width: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.lista-marcas .marca {
    height: 148px;
    left: 0px;
    top: 0px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.lista-marcas .marca a {
    width: 100%;
    text-decoration: none;
}

.lista-marcas .marca .all {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    height: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
}

.lista-marcas .marca .all > div{
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 74px;
    height: 74px;
}

.lista-marcas .marca img{
        position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
}


/*section marcas*/

.valor {
    color: rgb(255, 255, 255);
    width: fit-content;
    text-align: center;
    background-color: rgb(0, 154, 138);
}

.mes-referencia{
    color: rgb(117, 117, 117);
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(0, 154, 138);
}

.lista-modelos{
        display: flex;
    padding: 0px;
    flex-wrap: wrap;
    margin-bottom: 0px;
    justify-content: initial;
}

.lista-modelos li{
    display: flex;
    box-sizing: border-box;
    list-style: none;
    justify-content: center;
}

.lista-modelos li a{
     width: 100%;
    text-decoration: none;
}

.item-modelo{
    width: 100%;
    border: 1px solid rgb(224, 224, 224);
    height: 100%;
    display: flex;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: space-between;
}

.item-modelo .item-modelo-marca{
    flex: 1 1 0%;
    display: flex;
    border-right: 1px solid rgb(224, 224, 224);
    margin-right: 12px;
    flex-direction: column;
    justify-content: center;
}

.item-modelo .item-modelo-marca p{
    color: rgb(66, 66, 66);
}

.item-modelo .item-modelo-img{
    height: 100%;
    display: flex;
    align-items: center;
}

.item-modelo .item-modelo-img > div{
        overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 116px;
    height: 56px;
}

.item-modelo .item-modelo-img img{
        position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

   

@media (min-width: 960px){
.section-marcas article {
    padding: 40px 64px !important;
    }

    .section-marcas h2{
    color: rgb(66, 66, 66);
    font-size: 16px;
    font-size: 34px;
    margin-top: 24px;
    font-weight: 400;
    line-height: 26px;
}

.section-marcas .busca {
    width: initial;
    position: initial;
    transform: translateX(0px);
}

.section-marcas .busca2 {
    width: 1008px;
    margin: 40px auto 32px;
}
.section-marcas .mae-label {
    height: 48px;
}

.section-marcas .busca label {
    font-size: 16px;
    transform: translate(12px, 18px);
}

.section-marcas .busca input{
font-size: 16px;
}

.valor {
    margin: 32px auto 16px;
    padding: 8px 24px;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    border-radius: 20px;
}

.mes-referencia {
    font-size: 16px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 26px;
}

.lista-modelos{
    margin: 0px auto;
}

.lista-modelos li{
    width: calc(33.3333%);
    height: 122px;
    padding: 16px;
}

.item-modelo .item-modelo-marca p{
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

}